<!-- content srart -->
<article class="am-article blog-article-p">
    <div class="am-article-hd">
        <h1 class="am-article-title blog-text-center">成长</h1>
        <p class="am-article-meta blog-text-center">
            <span><a href="#" class="blog-color">人生 &nbsp;</a></span>-
            <span><a href="#">@渣布 &nbsp;</a></span>-
            <span><a href="#">2018/04/17</a></span>
        </p>
    </div>        
    <div class="am-article-bd">
        <blockquote>
            <p>天行健，君子以自强不息。地势坤，君子以厚德载物。</p> 
            <footer>
                <cite>《周易》</cite>
            </footer>
        </blockquote> 
        <p>1. 方法论<br>
            这件事情是我近期【12月】发现的。就简单说说对同一件事情的看法，时间正好两年。初入职场，很讨厌方法论，觉得工作上的事情应按照自己习惯进行，嘛，随着事情的累积，有些东西，并不是想当然。你要知道，这些东西就是工作中开发出来的经验论，而采用这套理论的方法论的人，无论从哪方面都是高于你这个初生牛犊的社会人士，我凭啥什么都不验证过就去质疑他们呢，事实证明，确实，我啥也凭不上，没有资格。面对方法论，更应该以一个全面的姿态去考量他，有些方法确实可行好用，亦或许随着时间累积选择更好的方法。方法本身无对错，就好比编程语言，本身就是一种工具，而工具的存在就是去解决问题，而不是去考虑孰好孰坏，毕竟扳手和锤子应用场景相同，也有不同，身为一个汽车修理工，同时拥有两者很符合逻辑。那么拥有这两样工具的人，下面应该考虑如何赢得球赛了。<br></p>
            <p>2. 生活态度<br>
                一直以前，我都习惯享受【慢生活】，然而就11月份才发现，【慢生活】本身就不该属于一个发展迅速的行业的技术人员。这种【慢生活】的态度本身错误，因为你所处的行业瞬息万变。就好比PC时代过渡移动端时代，只是花了5年就完成，甚至有些用户【其中包括我老妈】还不会用pc就直接过渡到移动端，而你真的能慢么?享受慢生活的你，我觉得应该考量两个词。【稳定】【节奏】。稳定来说，我肯定不稳定，我跟个定时炸弹一样，这点自知之明也是有的，而且我对某些单位是有意见的，所以自然不会融入他们，毕竟很多事情他们并不会亲力亲为，临时工比比皆是，我不太喜欢这样被圈养生活。毕竟【又不是个人才，说话又不好听，超不喜欢这里】，至于【节奏】，就如同我好几个月没碰node一样，那发现已经完全变样了。在这时代下，我真的认识到自己确实应该加快节奏。毕竟现在节奏还更得上，如果随着时间，跟不上。就不好说了。这行业根本不允许我翘着二郎腿等结果，【给老子加快加快】，渣布对自己如是说。<br></p>
                <p>3. 说话态度<br>
                    嘛，这个东西嘛，身边有接触都知道，脾气不是很好，会处于说教模式。嘛，今年多少有点改变，怎么总结呢，大概是不喜欢浪费口舌吧，不愿意听，亦或是不当真，咱就懒得扯。譬如偶尔还是有很多人会问我【我要学前端（后端、js、php、java，反正很多，有些甚至更小）】，以前会热心给予各种资料亦或是讲解，然而事实就是三分钟热度，浪费我的时间罢了。如果真想学，我觉得至少输出个【hello world】吧，你连这个都没有做，还敢说学它?一般遇到这种情况，我会陪你玩玩，打打马哈就过去了。省的帮你分析你大堆，得出结论敢情你是来消遣我的。你的时间比较值钱，那谁还在天书世界等你呢。嘛，不过这点变动只有这些，我还是我，说话一样拥有感情色彩，如果哪天聊天你不能发现这些，那说明你的话要么没营养，要么我根本不把你说的东西当回事罢了。<br>
                </p>
                具体其实还有很多，不过我懒得写了。毕竟产生不了对比，毕竟是新见解，也没啥好说。今年也算平安度过，也谢谢朋友的陪伴，至于今年到底怎么个评价，大概【一路顺风】，也祝我的朋友们今年也有个好点结束。愿诸君武运昌隆。渣布<br>
            </p>
        </div>
    </article>
    
    <div class="am-g blog-article-widget blog-article-margin">
        <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
            <span class="am-icon-tags"> &nbsp;</span><a href="#">标签</a> , <a href="#">TAG</a> , <a href="#">啦啦</a>
            <hr>
            <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
            <a href=""><span class="am-icon-wechat am-icon-fw blog-icon"></span></a>
            <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
        </div>
    </div>
    
    <hr>
    <div class="am-g blog-author blog-article-margin">
        <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
            <img src="assets/i/f15.jpg" alt="" class="blog-author-img am-circle">
        </div>
        <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
            <h3><span>作者 &nbsp;: &nbsp;</span><span class="blog-color">amazeui</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <hr>
    <ul class="am-pagination blog-article-margin">
        <li class="am-pagination-prev"><a href="#" class="">&laquo; 一切的回顾</a></li>
        <li class="am-pagination-next"><a href="">不远的未来 &raquo;</a></li>
    </ul>
    
    <hr>
    
    <form class="am-form am-g">
        <h3 class="blog-comment">评论</h3>
        <fieldset>
            <div class="am-form-group am-u-sm-4 blog-clear-left">
                <input type="text" class="" placeholder="名字">
            </div>
            <div class="am-form-group am-u-sm-4">
                <input type="email" class="" placeholder="邮箱">
            </div>
            
            <div class="am-form-group am-u-sm-4 blog-clear-right">
                <input type="password" class="" placeholder="网站">
            </div>
            
            <div class="am-form-group">
                <textarea class="" rows="5" placeholder="一字千金"></textarea>
            </div>
            
            <p><button type="submit" class="am-btn am-btn-default">发表评论</button></p>
        </fieldset>
    </form>
    
    <hr>
<!-- content end -->