<!-- content srart -->

<%= render partial: "layouts/articles", collection: @articles, as: :article %>

<ul class="am-pagination">
    <li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>
    <li class="am-pagination-next"><a href="">Next &raquo;</a></li>
</ul>

