<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div id="banner" class="am-u-sm-8 am-u-sm-centered">
        <%= image_tag "logo.png", alt: "玩趣 Logo" %>
        <h2 class="am-hide-sm-only"></h2>
    </div>
</header>
<hr>
<nav class="am-g am-g-fixed blog-fixed blog-nav">
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a href="lw-index.html">首页</a></li>
      <li><a href="lw-article.html">文章</a></li>
      <li><a href="lw-timeline.html">时间线</a></li>
    </ul>
  </div>
</nav>
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">

        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <%= image_tag "f10.jpg", class: "am-u-sm-12" %>
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="" class="blog-color">article &nbsp;</a></span>
                <span> @amazeUI &nbsp;</span>
                <span>2015/10/9</span>
                <h1><a href="">总在思考一句积极的话</a></h1>
                <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                </p>
                <p><a href="" class="blog-continue">continue reading</a></p>
            </div>
        </article>
        <ul class="am-pagination">
  <li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>
  <li class="am-pagination-next"><a href="">Next &raquo;</a></li>
</ul>
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <%= image_tag "avatar.jpg", class: "blog-entry-img", alt: "about me" %>
            <p>渣布</p>
            <p>
        我是渣布。死宅程序员。
        </p><p>路一直在走，但是渐渐发现身边的人都离我越来越远，有些是停下脚步，有些则被我抛弃掉。一个人的路，并不可怖，而更多的是无奈。</p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>人生风向标</span></h2>
            <ul class="am-list">
            	<li><a href="#">千秋邈矣独留我,百战归来再读书</a></li>
                <li><a href="#">道德构建的是理想社会，而经济学构建的是现实社会</a></li>
                <li><a href="#">天行健，君子以自强不息。地势坤，君子以厚德载物</a></li>
                <li><a href="#">天地不仁，以万物为刍狗。圣人不仁，以百姓为刍狗</a></li>
            </ul>
        </div>
    </div>
</div>
 <footer class="blog-footer">
    <div class="blog-text-center">Made By Abu</div>    
  </footer>