<article class="am-g blog-entry-article">
    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
        <%= image_tag article.profile, class: "am-u-sm-12" %>
    </div>
    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
        <span><a href="" class="blog-color">article &nbsp;</a></span>
        <span> @<%= article.writer %> &nbsp;</span>
        <span>2015/10/9</span>
        <h1>
            <a href="">
                <%= article.title %>
            </a>
        </h1>
        <p>
            <%= article.content%>
        </p>
        <p><a href="" class="blog-continue">continue reading</a></p>
    </div>
</article>