<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div id="banner" class="am-u-sm-8 am-u-sm-centered">
        <%= image_tag "logo.png", alt: "玩趣 Logo" %>
        <h2 class="am-hide-sm-only"></h2>
    </div>
</header>
<hr>
<nav class="am-g am-g-fixed blog-fixed blog-nav">
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <% @topbars.each do |topbar|
       %>
      <li class="am-active"><a href="lw-index.html">
        <%= topbar.name %>
      </a></li>
      <% end %>
    </ul>
  </div>
</nav>
<hr>