<div class="am-u-md-4 am-u-sm-12 blog-sidebar">
    <div class="blog-sidebar-widget blog-bor">
        <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
        <%= image_tag "avatar.jpg", class: "blog-entry-img", alt: "about me" %>
        <p>渣布</p>
        <p>
    我是渣布。死宅程序员。
    </p><p>路一直在走，但是渐渐发现身边的人都离我越来越远，有些是停下脚步，有些则被我抛弃掉。一个人的路，并不可怖，而更多的是无奈。</p>
    </div>
    <div class="blog-sidebar-widget blog-bor">
        <h2 class="blog-title"><span>人生风向标</span></h2>
        <ul class="am-list">
                <% @wisdoms.each do |wisdom|%>
                    <li><a href="#"><%= wisdom.context %></a></li>
                <% end -%>
        </ul>
    </div>
</div>